* {
  box-sizing: border-box;
}


.Bar {
  color:black;
  width: 100%;
}

.Header {
  height: 100px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  width: 1600px;
  &__title{
  position: relative;
  padding: 0.1em 0.5em;
  background: -webkit-linear-gradient(to right, rgb(255, 186, 115), transparent);
  background: linear-gradient(to right, rgb(255, 186, 115), transparent);
  color: #545454;
  font-size: 30px;
  width: 400px;
  }
  .Header__List{
    height: 20px;
    width: 260px;
    display: flex;
    justify-content: space-around;
    width: 100%;
  } 
  .Header__name{
    font-size: 16px;
    font-weight: bold;
  }
}
.post{
  background-color: #CCFFCC;
  height: 100vh;
  width: 1600px;
}

.postarea{
  background-color: #FFFFAA;
  margin: 0 150px;
  height: 100vh;
  
}
.postcenter{
  text-align: center;
  
}

.posttop{
    font-size: large;
    color: #330099;
    
}

.postform{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.posttitle{
  margin-bottom: 20px;
  &__form{
    width: 320px;
  }
}

.posttext{
  margin-bottom: 20px;
  &__form{
    border: inset;
    width: 350px;
    height: 200px; 
  }
}

.postgenre{
  margin-bottom: 20px;
  &__form{
    height: 400px; 
    width: 150px;
  }
  
}

.postbutton {
  margin-top: 50px;
  .newbutton{
    font-size: 30px;
    height: 80px;
    width: 400px;
    background-color: #00ffff;
    border-radius: 10px;
    border: 1px solid #C0C0C0;
  }
}

.login{
  background-color: #000080;
  height: 100vh;
  width: 1600px;
}

.loginarea{
  background-color:#99FFFF;
  margin: 0 150px;
  height: 100vh;
  .logincenter{
    text-align: center;
    .logintop{
      font-size: large;
      color: #330099;
    }
  }
}

.loginform{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  .loginmail{
    margin-bottom: 20px;
    .formemail{
      width: 320px;
    }
  }
  .loginpass{
    margin-bottom: 20px;
    .formpass{
      width: 320px;
    }
  }
}
.postlink{
  text-align: center;
  .newpost{
    font-size: 30px;
    height: 80px;
    width: 600px;
    background-color: #00ffff;
    border-radius: 10px;
    border: 1px solid #C0C0C0
  }
}

.list{
  margin: 40px 80px;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: scroll;
  .listbox{
    margin-bottom: 45px;
    width: 900px;
    border: double 5px #4ec4d3;
    .listboxarea{
      padding: 10px 25px;
      display: flex;
      justify-content: space-between;
     
    }
  }
}
.search-form{
  text-align:  center;    
}

.select{
  display: flex;
  .listshow{
    margin: 0 10px;
  }

  .listedit{
    margin: 0 10px;
  }

  .listdelete{
    margin: 0 10px;
  }

}

.all{
  display: flex;
  height: calc(100vh - 100px);
}

.sidebar{
  background-color:#BBBBBB;
  width: 500px;
  overflow: scroll;
  .form{
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    height: 150px;
    padding:10px 5px;
    justify-content: center;
    align-items: center;
    
    .textbox{
      width: 400px;
      height: 120px;
    }
    .form__submit{
      
    }
  }
}

.box{
  padding: 20px 20px;
}

.sidetitle{
  font-size: 22px;
}

.sidegenre{
  margin: 10px 0;
  font-size: 14px;
  width: 100%;
}

.sidetext{
  margin: 10px 0;
}






.commentsfield{
  width: calc(100vw - 500px);
  height: calc(100vh - 100px);
  background-color: #fafafa;
}

.commenttop{
  text-align: center;
  width: 1000px;
  
}
.commentbox{
  background-color: #fafafa;
  box-sizing: border-box;
  padding: 35px 40px 0;
  height: calc(100vh - 100px);
  overflow: scroll;
  width: 1000px;
}
.commentinfo{
   margin-bottom: 10px;
 }

 .commnetname{
   font-size: 15px;
 }
 .commentdate{
   font-size: 10px;
 }



